<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap/bootstrap.min.css" rel="stylesheet">

  <title>XTITLE</title>
</head>

<body>

  <div class="container my-5">

    <!-- NAVIGATION TABS -->
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a class="nav-link XLECTURER" href="?page=lecturers">Lecturers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link XCOURSE" href="?page=courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link XEDU" href="?page=education">Education</a>
      </li>
    </ul>

    <div class="col-lg-6 m-auto">

      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h3>XTITLE</h3>
        </div>

        <form method="post" action="index.php?page=XPAGE">

          <div class="card-body">
            XFORM
          </div>

          <div class="card-footer text-center">
            <button class="btn btn-success" type="submit" name="XSEND">Submit</button>
            <a class="btn btn-secondary" href="index.php?page=XPAGE">Cancel</a>
          </div>
        </form>
      </div>

    </div>

  </div>

</body>
</html>
