<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap/bootstrap.min.css" rel="stylesheet">

  <title>XTITLE</title>
</head>

<body>

  <div class="container my-5">

    <!-- NAVIGATION TABS -->
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a class="nav-link XLECTURER" href="index.php?page=lecturers">Lecturers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link XCOURSE" href="index.php?page=courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link XEDU" href="index.php?page=education">Education</a>
      </li>
    </ul>

    <!-- TITLE + ADD BUTTON -->
    <div class="d-flex justify-content-between mb-3">
      <h2>XTITLE</h2>
       <a href="index.php?page=XPAGE&form=X" class="btn btn-primary">Add New XBUTTON</a>
    </div>

    <!-- TABLE -->
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          XHEADER
        </tr>
      </thead>

      <tbody>
        XTABLE
      </tbody>
    </table>

  </div>

</body>
</html>